allowed_users:
  - 728871946456137770
  - 510065483693817867
service_definitions: data/services
service_out: /etc/systemd/system
dp_secret: 
redis_url: redis://localhost:6379/15
dp_disable: false # Only enable when bootstrapping

# Protected from killall 
srvmod_bypass:
  - sysmanage
  - deployproxy
  - ibl-maint

url: https://sysmanage.infinitybots.gg

# Only relevant for git
github_webhook_sig: 
github_pat: 